:root {
    --color--primary: #2563EB;
    --color--second: #000000;
    --color-text-grey: #808080;
    --color-text-grey-dark: #313131;
    --color-white: #ffffff;
    --color--hover: #0b4edf;
    --color--hover--a: #083daf;
}



* {
    box-sizing: border-box;
}

body {
    max-width: 1920px;
    font-family: 'Exo 2', sans-serif;
    margin: 0 auto;
    /* background-image: url(../images/background3.svg);
    background-repeat: no-repeat;
    background-position: top 100px center;
    background-size: contain; */
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}