/* section {
    background-image: url(../images//backround2.jpg);
    width: 1920;
    height: 921;
    top: 105px;
}

section {
    background-image: url(../images/Ellipse.svg);
    width: 357;
    height: 229;
    top: 601px;
    left: 786px;

} */