.bg {
    position: absolute;
    inset: 0;
    max-width: 1320px;
    margin: 0 auto;
    background: url("../images/background3.svg") center / contain no-repeat;
    z-index: -1;
    width: 1920px;
    height: 921px;
    top: 100px;
    margin: 0 auto;
}

.bg2 {
    position: absolute;
    inset: 0;
    background: url("../images/Ellipse2.svg") center / contain no-repeat;
    z-index: -1;
    width: 1920px;
    height: 921px;
    top: 100px;
    margin: 0 auto;
}

.AIDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 55px;
}

.AIname {
    font-weight: 700;
    font-size: 79px;
    line-height: 100%;
    margin: 0 0 46px;
}

.IconAI {
    margin-bottom: 24px;
}

.argumentList-AIname {
    margin-bottom: 201px;
}

@media (max-width: 1919px) {
    .bg {
        display: none;
    }

    .bg2 {
        display: none;
    }
}