.card-price-item {
    background: linear-gradient(180deg, #E7ECFF 0%, #FFFFFF 35.27%);
    box-shadow: 0px 1px 2px 0px #1018280F;
    box-shadow: 0px 1px 3px 0px #1018281A;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    max-width: 1389px;
    margin: 0 auto;
    margin-bottom: 31px;
}

.card-price-name {
    display: flex;
    gap: 16px;
    align-items: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
}

.card-price-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
}

.card-price-header-without {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    padding: 4px 8px;
    border-radius: 10px;
    background-color: #CADAFC;
}

.card-price-description {
    padding: 0 24px 16px;
}

.Ul-prace {
    display: flex;
}

.Ul-prace-left {
    list-style-type: square;
}

.Ul-prace-left-section {
    padding: 0 16px 48px 24px;
    width: 345px;
}

.params {
    padding: 0;
}

.card-price-item-left {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-text-grey);
}

.dots {
    flex: 1;
    border-bottom: 1px dashed #DBDBDB;
    transform: translateY(8px);
    margin: 0 12px;
}

.params li {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.button-forFree {
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    width: 240px;
    height: 61px;
    border: 0;
    border-radius: 20px;
    background: var(--color--primary);

}

.button-forFree:hover {
    background-color: var(--color--hover);
    transition: background-color 0.1s
}

.button-forFree:active {
    background-color: #043cb4;
}

.button-forFree a {
    color: var(--color-white);
}

.card-price-finish {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 45px;
}

.card-price-grade {
    display: flex;
    align-self: flex-end;
    gap: 8px;
    font-weight: 600;
    font-size: 96px;
    line-height: 150%;
    color: #A4B2DF;
}

.card__link-price {
    margin: 10px 0 45px;
}

.card-price {
    margin-bottom: 70px;
}

@media (max-width: 1920px) {
    .card-price-item {
        margin: 30px;
    }
}

@media (max-width: 1150px) {
    .card-price-item {
        flex-direction: column;
    }

    .card-price-grade {
        align-self: auto;
    }
}

@media (max-width: 700px) {
    .Ul-prace {
        flex-direction: column;
        padding: 20px;
    }

    .card__link-price {
        margin: 10px 0;
    }

    .button-forFree {
        max-width: 100%;
    }

    .card-price-grade {
        font-size: 60px;
    }

    .Ul-prace-left-section {
        max-width: 100%;
    }


}