.reviews {
    max-width: 1324px;
    margin: 0 auto;
}

.reviews-content {
    padding: 24px;
    width: 842px;
    box-shadow: 0px 1px 3px 0px #1018281A;
    border-radius: 16px;
    margin-bottom: 111px;
}

.reviews-header {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    display: flex;
    justify-content: space-between;
}

.reviews-grade {
    font-weight: 600;
    line-height: 150%;
    color: #A4B2DF;
}

.reviews-date {
    color: #6B7280;
}

.reviews-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin: 16px 0;
}

@media (max-width: 1500px) {
    .reviews {
        padding: 30px;
    }
}

@media (max-width: 1200px) {
    .characteristics {
        flex-direction: column;
        margin: 0 auto;
        justify-content: center;
        padding: 30px;
    }

    .characteristics-left {
        justify-content: center;
    }

    .uldemo {
        max-width: 1100px;
        margin: 0 auto;
        width: 100%;
    }
}

@media (max-width: 900px) {
    .reviews {
        display: flex;
        justify-content: center;
        margin: 20px;
        padding: 0;
    }
}

@media (max-width: 700px) {
    .ULcharacteristics li {
        width: 300px;
    }

    .AIname {
        margin: 0;
        font-size: 59px;
    }

    .reviews-content {
        margin-bottom: 30px;
    }
}