.reviews {
    width: 842px;
    box-shadow: 0px 1px 2px 0px #1018280F;
    box-shadow: 0px 1px 3px 0px #1018281A;
    border-radius: 16px;
    margin-bottom: 111px;
    margin-left: 278px;
}

.reviews-content {
    padding: 24px;
}

.reviews-header {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    display: flex;
    justify-content: space-between;
}

.reviews-grade {
    font-weight: 600;
    line-height: 150%;
    color: #A4B2DF;
}

.reviews-date {
    color: #6B7280;
}

.reviews-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin: 16px 0;
}

@media (max-width: 1920px) {
    .characteristics {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding: 30px;

    }
}

@media (max-width: 1200px) {
    .characteristics {
        flex-direction: column;
        gap: 10px;
        overflow: hidden
    }

    .characteristics-left {
        margin: 0 auto;
    }

    .characteristics-right {
        margin: 0 auto;
    }

    .uldemo {
        max-width: 1100px;
        margin: 0 auto;
        width: 100%;
    }

    .tags {
        margin: 0;
    }
}

/*  Тут не получалось сдлелать отступ справа. Обрати внимание на max-width 90% */

@media (max-width: 1200px) {
    .reviews {
        display: flex;
        justify-content: center;
        max-width: 90%;
        margin: 20px;
    }
}

@media (max-width: 700px) {
    .ULcharacteristics li {
        width: 300px;
    }

    .AIname {
        margin: 0;
        font-size: 59px;
    }

    .characteristics-right {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}